include AUTHORS
include README.rst
include ChangeLog
include LICENSE
recursive-include bsnstacklib/plugins/bigswitch/db/migration/alembic_migrations/versions *
exclude .gitignore
exclude .gitreview

global-exclude *.pyc
