# This library shares all of the same requirements as Neutron
# and doesn't work without Neutron so we depend on Neutron to
# setup the requirements. If any packages are added that are
# specific to bsnstack lib, put them here.
