[Unit]
Description=OpenStack Neutron Big Switch Networks Agent
After=syslog.target network.target

[Service]
Type=simple
User=neutron
ExecStart=/usr/bin/neutron-bsn-agent \
 --config-file /usr/share/neutron/neutron-dist.conf \
 --config-file /etc/neutron/neutron.conf \
 --config-file /etc/neutron/plugins/ml2/ml2_conf.ini \
 --config-dir /etc/neutron/conf.d/common \
 --config-dir /etc/neutron/conf.d/neutron-bsn-agent \
 --log-file /var/log/neutron/bsn-agent.log
PrivateTmp=true
KillMode=process

[Install]
WantedBy=multi-user.target
